<%for(let i=0;i<user.length;i++){%>
<tr>
    <td><%= i+1 %></td>
    <td><%= user[i].name %></td>
    <td><%= user[i].email %></td>
    <td><%= user[i].gender %></td>
    <td><%= user[i].status %></td>
    <td>
        <a href="/updateuser?id=<%= user[i]._id %>" class="btn border-shadow Update">
            <span class="text-gradient"><i class="fa-solid fa-pencil"></i></span>
        </a>

        <a class="btn border-shadow delete" id=<%= user[i]._id %> >
            <i class="fa-sharp fa-solid fa-trash"></i></span>
        </a>
    </td>
</tr>

<%}%>